@mixin primary-button {
  cursor       : pointer;
  border       : none;
  color        : #fff;
  font-weight  : 500;
  padding      : 10px 25px;
  border-radius: 4px;
  box-shadow   : 0 2px 10px #0000001a;
  background   : linear-gradient(90deg, #3a4a5e 0%, #5a6b7e 100%);
  transition   : all 0.3s ease;

  &:hover {
    transform : translateY(-1px);
    box-shadow: 0 4px 12px #00000026;
  }
}